*.pyc
*.swp
tests/old_format/DEVICE_CREDS.py
tests/test_prep.sh
tests/test_suite.sh
tests/standard_tests.sh
tests/etc/test_devices.yml
tests/etc/commands.yml
tests/etc/responses.yml
tests/cisco_logging.txt
tests/test_script.py
examples/SECRET_DEVICE_CREDS.py
build
