*.pyc
*.swp

tests/old_format/DEVICE_CREDS.py
tests/test_prep.sh
tests/testx.txt
tests/standard_tests.sh
tests/etc/test_devices.yml
tests/etc/commands.yml
tests/etc/responses.yml
tests/etc/test_devices_exc.yml

tests_new/etc/commands.yml
tests_new/etc/responses.yml
tests_new/etc/test_devices.yml

examples/SECRET_DEVICE_CREDS.py
./build
./build/*
build/
dist
netmiko.egg-info
.cache
bin/.netmiko.cfg

# IDE Related files
.vscode/*
.idea/

# Virtual Environment files
.venv/
bin/
lib/
pyvenv.cfg
.devcontainer

# Sphinx documentation
docs/build/doctrees/

# Tox
.tox/*

.pytest_cache/*

# Mac stuff
.DS_Store
*/.DS_Store

tests/cisco3-out.txt
tests/test.log
tests_new/test_out/*.out
tests_new/test_out/*.stderr
tests_new/cisco-xrv.txt
tests_new/*.out
tests/*.out
