---
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8-dev"
  - "nightly"
stages:
  - lint
  - test
matrix:
  include:
    - stage: lint
      name: Black
      python: 3.6
      env: TOXENV=black
    - stage: lint
      name: Pylama
      python: 3.6
      env: TOXENV=pylama
  allow_failures:
    - python: 3.8-dev
    - python: nightly
install:
  - pip install tox==3.14.5 tox-travis==0.12
script:
  - tox
