black==22.3.0
mypy==0.961
mypy-extensions==0.4.3
PyYAML==5.4.1
pytest==7.1.2
# Issue with build failure on pyflakes 2.5.0
pyflakes==2.4.0
pylama==8.3.8
twine==1.15.0
pysnmp==4.4.12
pdoc3==0.10.0
types-paramiko
types-PyYAML
-r requirements.txt
-r requirements-ttp.txt
