---

cisco_ios:
  version: "show version"
  basic: "show ip interface brief"
  wide_command: "show ip access-lists myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show version"   # requires paging to be disabled
  config: 
    - "logging buffered 20000"      # base command
    - "no logging console"
    - "logging buffered 20010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  config_file: "cisco_ios_commands.txt"
  save_config_confirm: False

cisco_ios_telnet:
  version: "show version"
  basic: "show ip interface brief"
  wide_command: "show ip access-lists myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show version"   # requires paging to be disabled
  config: 
    - "logging buffered 20000"      # base command
    - "no logging console"
    - "logging buffered 20010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  config_file: "cisco_ios_commands.txt"
  save_config_confirm: False

cisco_xr:
  version: "show version"
  basic: "show ip interface brief"
  basic_textfsm: "show interface brief"
  wide_command: "show access-list myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show version"   # requires paging to be disabled
  config: 
    - "logging buffered 4000000"      # base command
    - "no logging console"
    - "logging buffered 4000010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  support_commit: True
  commit_verification: "show configuration commit list 1 detail"

cisco_s300:
  version: "show version"
  basic: "show ip interface"
  wide_command: "show ip access-lists myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show run"   # requires paging to be disabled
  config:
    - 'logging buffered notifications'
    - 'no logging console'
    - 'logging buffered warnings'
  config_verification: "show run"
  config_file: "cisco_ios_commands.txt"
  save_config_confirm: True
  save_config_response: ''

cisco_asa:
  version: "show version"
  basic: "show ip"
  wide_command: "show access-list myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  basic_textfsm: "show route"
  extended_output: "show version"   # requires paging to be disabled
  config:
    - 'logging buffered notifications'
    - 'no logging console'
    - 'logging buffered warnings'
  config_verification: "show run | inc logging buffer"
  config_file: "cisco_asa_commands.txt"

arista_eos:
  version: "show version"
  basic: "show ip int brief"
  wide_command: "show ip access-lists myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show logging"   # requires paging to be disabled
  config: 
    - "logging buffered 20000"
    - "no logging console"
    - "logging buffered 20010"
  config_verification: "show run | inc logging buffer"

hp_procurve:
  version: "show version"
  basic: "show ip"
  basic_textfsm: "show system"
  extended_output: "show logging"   # requires paging to be disabled
  config: 
    - 'time timezone -420'
    - 'time daylight-time-rule Continental-US-and-Canada'
    - 'time timezone -480'
  config_verification: "show run" 

hp_comware:
  version: "display version"
  basic: "display ip int brief"
  extended_output: "display version"   # requires paging to be disabled
  config: 
    - 'ip host test1 1.1.1.1'
    - 'undo ip host test1 1.1.1.1'
    - 'ip host test1 1.1.1.2'
  config_verification: "display current-configuration"

juniper_junos:
  version: "show version"
  basic: "show interfaces terse"
  basic_textfsm: "show interfaces"
  extended_output: "show configuration"   # requires paging to be disabled
  config: 
   - 'set system syslog archive size 110k files 3'
   - 'set system time-zone America/New_York'
   - 'set system syslog archive size 120k files 3'
  config_verification: "run show configuration | match archive"
  support_commit: True
  rollback: 'rollback 0'
  commit_verification: "run show system commit"

linux:
  version: "uname -a"
  basic: "ifconfig -a | grep inet | grep -v inet6 "
  wide_command: 'echo "cable modem deny 0015.f2fe.ba11"; echo "cable modem deny 0015.f2fe.ba12"; echo "cable modem deny 0015.f2fe.ba13"'
  extended_output: "netstat -an"   # requires paging to be disabled
  # config_long_command: "ls verylongcommandnamethatwillcauselinewrapissuesasitdoesnotfitonesinglescreengreaterthan127charsandthensomesothingsreallyarennotright"
  # config_verification: "ls"

dell_force10:
  version: "show version"
  basic: "show ip interface brief managementethernet 0/0"
  extended_output: "show ip interface brief"   # requires paging to be disabled
  config:
    - "logging buffered 50000"      # base command
    - "no logging console"
    - "logging buffered 50010"      # something you can verify has changed
  config_verification: "show run"

cisco_nxos:
  version: "show version"
  basic: "show ip interface brief vrf management"
  basic_textfsm: "show interface brief"
  extended_output: "show logging"   # requires paging to be disabled
  config: 
    - "logging console 0"           # base command
    - "no logging console"
    - "logging console 4"           # something you can verify has changed
  config_verification: "show run | inc logging"
  config_long_command: "snmp-server location verylongsnmplocationnamethatwillcauselinewrapissuesasitdoesnotfitonesinglescreengreaterthan127charsandthensomesothingsreallyarennotright"

cisco_xe:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show version"   # requires paging to be disabled
  config: 
    - "logging buffered 20000"      # base command
    - "no logging console"
    - "logging buffered 20010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"

juniper_screenos:
  version: "get system version"
  basic: "get route"
  extended_output: "get config" # requires paging to be disabled
  config:
    - 'set alias test "test"'
  config_verification: "get config | inc alias"

fortinet:
  version: "get system status"
  basic: "get system interface physical"
  extended_output: "get system status"
  config:
    - 'config firewall service category'
    - 'edit Database'
    - 'set comment "Generated comment"'
    - 'end'
  config_verification: "show firewall service category Database | grep comment"

paloalto_panos:
  version: "show system info | match version"
  basic: "show system info"
  extended_output: "show system info"
  config:
    - 'set network vlan new_test'
    - 'set network vlan another_test'
  support_commit: True
  config_verification: 'run show vlan all'

brocade_fastiron:
  version: "show version"
  basic: "show ip interface"
  extended_output: "show running-config"   # requires paging to be disabled
  config:
    - "logging buffered 4000"      # base command
    - "no logging console"
    - "logging buffered 3000"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  config_file: "brocade_fastiron_commands.txt"

brocade_netiron:
  version: "show version"
  basic: "show ip interface"
  extended_output: "show version"   # requires paging to be disabled
  config:
    - "logging buffered 4000"      # base command
    - "no logging console"
    - "logging buffered 3000"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  config_file: "brocade_netiron_commands.txt"

brocade_nos:
  version: "show version"
  basic: "show interface Management"
  extended_output: "show ip interface brief"   # requires paging to be disabled
  config:
    - "logging raslog console WARNING"      # base command
    - "logging raslog console INFO"
  config_verification: "show run | inc raslog"

aruba_os:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show version"
  config:
    - "location location1"
    - "location location2"
  config_verification: "show location"

ubiquiti_edge:
  version: "show version"
  basic: "show network"
  extended_output: "show running-config"
  config:
    - "logging persistent 3"
    - "no logging persistent"
    - "logging persistent 4"
  config_verification: "show running-config | include 'logging'"

ubiquiti_unifiswitch:
  version: "show version"
  basic: "show network"
  extended_output: "show running-config"
  config:
    - "logging persistent 3"
    - "no logging persistent"
    - "logging persistent 4"
  config_verification: "show running-config | include 'logging'"

dellos10:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show running-config"
  config:
    - "host-description test"
    - "no host-description"
    - "host-description node"
  config_verification: "show running-config"

dell_sonic:
  version: "show version"
  basic: "show ip interfaces"
  extended_output: "show running-configuration"
  config:
    - "interface Vlan100"
  config_verification: "show running-configuration"

dell_powerconnect:
  version: "show version"
  basic: "show ip interface vlan 1"
  extended_output: "show running-config"
  config:
    - "logging buffered 400"
    - "no logging buffered"
    - "logging buffered 200"
  config_verification: "show running-config"

pluribus_ssh:
  version: "fabric-show parsable-delim ;"
  basic: "user-show name mircea parsable-delim ;"
  extended_output: "switch-info-show parsable-delim ;"
  config:
    - "role-create name dummy scope local"
    - "role-delete name dummy"
    - "role-create name dummy scope local access read-only"
  config_verification: "running-config-show"

alcatel_aos:
  version: "show system"
  basic: "show configuration snapshot ip"
  extended_output: "show interfaces status"
  config:
    - 'VLAN 666'
  config_verification: "show vlan"

netscaler:
  version: "show version"
  basic: "show ip -summary"
  extended_output: "show interfaces"

calix_b6_ssh:
  version: "show version"
  basic: "show interface bvi 1"
  extended_output: "show hardware"
  config:
    - "access-list ethernet 999 permit 0x8863"
    - "access-list ethernet 999 permit 0x8864"
    - "access-list ethernet 999 permit ip"
    - "access-list ethernet 999 permit arp"
  config_verification: "find running-config 999"

ipinfusion_ocnos:
  version: "show version"
  basic: "show ip interface eth0 brief"
  extended_output: "show ip interface brief"   # requires paging to be disabled
  config:
    - "logging  level ospf 4"      # base command
    - "no logging level ospf"
    - "logging level ospf 5"      # something you can verify has changed
  config_verification: "show logging level ospf"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: "[OK]"

ipinfusion_ocnos_telnet:
  version: "show version"
  basic: "show ip interface eth0 brief"
  extended_output: "show ip interface brief"   # requires paging to be disabled
  config:
    - "logging  level ospf 4"      # base command
    - "no logging level ospf"
    - "logging level ospf 5"      # something you can verify has changed
  config_verification: "show logging level ospf"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: "[OK]"

oneaccess_oneos:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show system status"   # requires paging to be disabled
  config:
    - "logging buffered size 20000"      # base command
    - "no logging console"
    - "logging buffered size 20010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: "[OK]"

oneaccess_oneos_telnet:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show system status"   # requires paging to be disabled
  config:
    - "logging buffered size 20000"      # base command
    - "no logging console"
    - "logging buffered size 20010"      # something you can verify has changed
  config_verification: "show run | inc logging buffer"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: "[OK]"

mikrotik_routeros:
  version: "/system resource print"
  basic: "/ip address print"
  extended_output: "/interface print oid"
  config:
    - "/ip upnp interfaces remove numbers=0"      # base command
    - "/ip upnp interfaces add interface=bridge1 type=external"
    - "/ip upnp interfaces add interface=bridge1 type=external"
  config_verification: '/ip upnp interfaces print'
  save_config_confirm: False
  save_config_response: ">"

cloudgenix_ion:
  version: "dump software status"
  basic: "dump interface status 1"
  extended_output: "inspect interface stats all"
  config:
    - "config interface 2 ip static address=172.16.16.15/24 gw=172.16.16.1 dns=8.8.8.8"
    - "config interface 2 ip static address=172.16.16.16/24 gw=172.16.16.1 dns=8.8.8.8"
  config_verification: "dump interface status 2"
  save_config_confirm: False
  save_config_response: "#"

keymile:
  version: "show version"
  basic: "get /cfgm/IP_Address"
  extended_output: "ls"

keymile_nos:
  version: "show version"
  basic: "show ip interface brief | include br328"
  extended_output: "show interface"
  config:
      - "log login enable"
  config_verification: "show running-config | include log"
  save_config_cmd: 'write memory'
  save_config_confirm: True
  save_config_response: '[OK]'

dlink_ds:
  version: "show greeting_message"
  basic: "show ipif"
  config:
    - enable command logging
  config_verification: "show config current_config include \"logging\""
  extended_output: "show config current_config"   # requires paging to be disabled

dlink_ds_telnet:
  version: "show greeting_message"
  basic: "show ipif"
  config:
    - enable command logging
  config_verification: "show config current_config include \"logging\""
  extended_output: "show config current_config"   # requires paging to be disabled

ruijie_os:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show version"
  config:
    - "logging buffered 20000"
    - "no logging console"
    - "logging buffered 20010"
  config_verification: "show run | inc logging buffer"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: 'OK'

centec_os:
  version: "show version"
  basic: "show ip interface brief"
  extended_output: "show version"
  config:
    - "ip access-list centec"
  config_verification: "show running-config | include ip access-list centec"
  save_config_cmd: 'write'
  save_config_response: 'OK'

supermicro_nos:
  version: "show version"
  basic: "show ip interface"
  extended_output: "show version"
  config:
    - "logging buffered 110"
    - "logging buffered 110"
  config_verification: "show run"
  save_config_cmd: "write startup-config"
  save_config_confirm: False
  save_config_response: '[OK]'
  support_commit: False

sophos_sfos:
  version: "system diagnostics show version-info"
  basic: "system diagnostics utilities route lookup 172.16.16.16"
  extended_output: "system diagnostics show version-info"

adtran_os:
  version: "show version"
  basic: "show system-management-evc"
  extended_output: "show version"

huawei_smartax:
  version: "display version"
  basic: "display system sys-info"
  extended_output: "display version"
  config:
    - acl 2456
  config_verification: "display current-configuration | include acl 2456"

tplink_jetstream:
  version: "show system-info"
  basic: "show interface vlan 1"
  extended_output: "show running-config all"
  config:
    - "no clipaging"
  config_verification: "show running-config | include clipaging"

tplink_jetstream_telnet:
  version: "show system-info"
  basic: "show interface vlan 1"
  extended_output: "show running-config all"
  config:
    - "no clipaging"
  config_verification: "show running-config | include clipaging"

ubiquiti_edgerouter:
  version: "show version"
  basic: "show interfaces switch switch0"
  extended_output: "show configuration all"
  config:
    - "set system coredump enabled true"
    - "set system coredump enabled false"
  support_commit: True
  config_verification: "show system coredump enabled"

zyxel_os:
  version: "sys atsh"
  basic: "cfg lan get"
  extended_output: "cfg wlan get"
  config:
    - "cfg wlan edit --Band 2.4GHz --MainSSID 1 --SSID 'NetmikoTest'"
    - "cfg wlan edit --Band 2.4GHz --MainSSID 1 --SSID 'magic2000'"
  config_verification: "cfg intf_group get"

nokia_srl:
  version: "info system banner"
  basic: "show version"
  wide_command: "show interface myverybiglongaccesslistthatdoesntexistandwherethisexceeds80characterssolinewrappingoccurs"
  extended_output: "show interface all"
  support_commit: True
  config: 
    - "interface ethernet-1/1 admin-state disable"
    - "interface ethernet-1/1 admin-state enable"
  config_verification: "show interface ethernet-1/1 brief"

audiocode_72:
  version: "show system version"
  basic: "show data interfaces gigabitethernet 0/0"
  extended_output: "show system version"   # requires paging to be disabled
  config:
    - "ip domain name home"                 # base command
    - "ip domain name house"                # something you can verify has changed
  config_verification: "show run data"
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: 'Writing configuration...done'
  config_mode_command: "config data"

audiocode_66:
  version: "show system version"
  basic: "show data interfaces gigabitethernet 0/0"
  extended_output: "show system version"   # requires paging to be disabled
  config:     
    - "no ip route 1.1.1.1 255.255.255.255 2.2.2.2 GigabitEthernet 0/0 1"      # base command       
    - "no ip route 1.1.1.1 255.255.255.255 1.1.1.1 GigabitEthernet 0/0 1"      
    - "ip route 1.1.1.1 255.255.255.255 2.2.2.2 GigabitEthernet 0/0 1"
  config_verification: "show run data"  # something you can verify has changed
  save_config_cmd: 'write'
  save_config_confirm: False
  save_config_response: 'Writing configuration...done'
  config_mode_command: "config data"     # only use if needed
  
audiocode_shell:
  version: "show info"
  basic: "show ip conf"
  extended_output: "show info"   # requires paging to be disabled
  config:        
    - "SCP SNMPSysContact Test_String2" # base command
  config_verification: "cf get"  # something you can verify has changed
  save_config_cmd: 'SaveConfiguration'
  save_config_confirm: False
  save_config_response: 'Configuration has been saved'
  config_mode_command: "conf"         # only use if needed
