--- 
name: build
on: [push, pull_request]
jobs:
  std_tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install -r requirements-genie.txt

      - name: Run black
        run: |
          black --check .

      - name: Run linter
        run: |
          pylama .

      - name: Run mypy
        run: |
          mypy ./netmiko/*.py
          mypy ./netmiko/[a-b]*
          mypy ./netmiko/calix/
          mypy ./netmiko/cdot/
          mypy ./netmiko/centec/
          mypy ./netmiko/checkpoint/
          mypy ./netmiko/ciena/
          mypy ./netmiko/cisco/cisco_asa_ssh.py
          mypy ./netmiko/cisco/cisco_ftd_ssh.py

      - name: Run Tests
        run: |
          py.test -v -s tests/test_import_netmiko.py
          py.test -v -s tests/unit/test_base_connection.py
          py.test -v -s tests/unit/test_utilities.py
          py.test -v -s tests/unit/test_ssh_autodetect.py

